extends base/_layout
block head
   title Главная
block page
   .elements.container
      a.link(href="#") Оставить заявку
      a.link.link--disable(href="#") Оставить заявку
      a.link.link--default(href="#") Оставить заявку
      a.link.link--blocked(href="#") Оставить заявку

