extends base/_layout
block head
   title Вакансии
block page
   section.breadcrumbs
      .breadcrumbs__inner
         h2.visually-hidden Навигационная цепочка сайта
         ul.breadcrumbs__list
            li.breadcrumbs__item
               a(href="#") Главная
            li.breadcrumbs__item.breadcrumbs__item--active
               a(href="#") Вакансии

   section.vacancy
      .vacancy__inner.container
         h1.title.vacancy__title Вакансии
         .lead.vacancy__lead
            p.
               Компания ООО «Финансовые решения и сервис» уже более 10 лет оказывает профессиональные консалтинговые услуги в сфере ипотечного и залогового кредитования. За этот период нам удалось выстроить партнерские отношения со всеми основными участниками рынка: банками, инвесторами, риелторами, страховыми и оценочными компаниями. Обращаясь к нам Вы можете быть уверены, что получите самые выгодные условия.

            p.
               Мы входим в тройку самых крупных кредитных/ипотечных брокеров Москвы. #[br]
               Если ты хочешь работать в крутой команде, тебе нравится общаться с людьми, для тебя важен результат и ты хочешь достойно зарабатывать приходи к нам!
         ul.vacancy__list
            li.vacancy__item
               .vacancy__top(aria-expanded="false")
                  .vacancy__about
                     h2.vacancy__pro Менеджер по продаже кредитных продуктов
                     a.vacancy__btn.js-vacancy-toggle(href="#") #[span Развернуть] описание
                  button.vacancy__toggle.js-vacancy-toggle
               .vacancy__info(aria-hidden="true")
                  .vacancy__info-box
                     h3.vacancy__info-title Мы предлагаем:
                     ul.vacancy__info-list
                        li Работу в надежной и стабильной компании;
                        li Оформление согласно ТК РФ, график 5/2 с 10.00 до 19.00;
                        li Фиксированный оклад + высокий % с продаж + бонус за выполненный план отдела (потолка нет);
                        li Мы всегда ЗА развитие поэтому тренинги и обучение за наш счет;
                        li Обязательно, своевременную выплату зарплаты;
                        li Замечательную команду, с которой всегда можно и в огонь и в воду;
                        li Конкурсы, подарки, праздники и уютную рабочую атмосферу;
                        li Чай, кофе для бодрости духа;
                        li Современный офис в 5 мин. от м. Курская (Бизнес-квартал АРМА-Завод).
                  .vacancy__info-box
                     h3.vacancy__info-title Кого мы ищем:
                     ul.vacancy__info-list
                        li Честного и порядочного человека;
                        li Активного и готового добиваться результатов сотрудника;
                        li Того, кто искренне верит в продукт, который он продает и любит свое дело;
                        li Готового учиться, развиваться и знает, что можно много зарабатывать честным путем;
                        li Приветствуем опыт в продажах и/или банковской сфере.
                  .vacancy__info-box
                     h3.vacancy__info-title Что предстоит делать:
                     ul.vacancy__info-list
                        li Отвечать на входящие заявки, обратившихся в компанию клиентов (без холодного поиска);
                        li Консультировать клиентов по всем кредитным продуктам и предлагать самые выгодные для них решения;
                        li Назначать и проводить встречи с клиентами в офисе компании;
                        li Работать в CRM;
                        li Выезжать на сделки в банки с клиентами;
                        li Выполнять личный план продаж.
            li.vacancy__item.vacancy__item--open
               .vacancy__top(aria-expanded="true")
                  .vacancy__about
                     h2.vacancy__pro Менеджер по продаже кредитных продуктов
                     a.vacancy__btn.js-vacancy-toggle(href="#") #[span Развернуть] описание
                  button.vacancy__toggle.js-vacancy-toggle
               .vacancy__info(aria-hidden="false")
                  .vacancy__info-box
                     h3.vacancy__info-title Мы предлагаем:
                     ul.vacancy__info-list
                        li Работу в надежной и стабильной компании;
                        li Оформление согласно ТК РФ, график 5/2 с 10.00 до 19.00;
                        li Фиксированный оклад + высокий % с продаж + бонус за выполненный план отдела (потолка нет);
                        li Мы всегда ЗА развитие поэтому тренинги и обучение за наш счет;
                        li Обязательно, своевременную выплату зарплаты;
                        li Замечательную команду, с которой всегда можно и в огонь и в воду;
                        li Конкурсы, подарки, праздники и уютную рабочую атмосферу;
                        li Чай, кофе для бодрости духа;
                        li Современный офис в 5 мин. от м. Курская (Бизнес-квартал АРМА-Завод).
                  .vacancy__info-box
                     h3.vacancy__info-title Кого мы ищем:
                     ul.vacancy__info-list
                        li Честного и порядочного человека;
                        li Активного и готового добиваться результатов сотрудника;
                        li Того, кто искренне верит в продукт, который он продает и любит свое дело;
                        li Готового учиться, развиваться и знает, что можно много зарабатывать честным путем;
                        li Приветствуем опыт в продажах и/или банковской сфере.
                  .vacancy__info-box
                     h3.vacancy__info-title Что предстоит делать:
                     ul.vacancy__info-list
                        li Отвечать на входящие заявки, обратившихся в компанию клиентов (без холодного поиска);
                        li Консультировать клиентов по всем кредитным продуктам и предлагать самые выгодные для них решения;
                        li Назначать и проводить встречи с клиентами в офисе компании;
                        li Работать в CRM;
                        li Выезжать на сделки в банки с клиентами;
                        li Выполнять личный план продаж.


   section.form.form--small
      .form__inner.container
         .form__box
            a.form__link.link.link--send.js-popup-toggle(href="#") Оставить отклик
            .form__content
               h2.form__title Оставить отклик
               form.form__manage(action="#")
                  ul.form__list
                     li.form__item
                           label.form__label
                              span.form__label-title Контактный телефон:
                              input.form__field.phone(type="tel")
                     li.form__item
                        label.form__label
                           span.form__label-title Ваше имя
                           input.form__field(type="text")
                  button.form__btn.link Отправить заявку
                  .form__footer
                     p.form__about.
                        Так же Вы можете связаться с нами по телефону:
                     a.form__tel(href="tel:+74950213931") +7 (495) 021-39-31