footer.footer
   .footer__inner.container
      .footer__top
         .footer__left
            a.footer__logo(href="#")
               img(src="images/icons/logo-footer.svg", alt="логотип" width="104")
               p Финансовые #[br] решения и сервис
            address.footer__address
               a.footer__tel(href="tel:+74950213931") +7 (495) 021-39-31
               p.footer__time Ежедневно с 10:00 до 21:00
               p.footer__location Москва, Ленинградский проспект, 36с30
         .footer__right
            nav.footer__nav
               ul.footer__nav-list
                  li
                     a(href="#") Главная
                  li
                     a(href="#") наши услуги
                  li
                     a(href="#") новости и акции
                  li
                     a(href="#") вакансии
                  li
                     a(href="#") контакты
            .footer__menu
               ul.footer__menu-col
                  li
                     a(href="#") Кредит под залог
                  li
                     a(href="#") Кредит для бизнеса
                  li
                     a(href="#") Ипотека
                  li
                     a(href="#") Кредит на любые цели
                  li
                     a(href="#") Потребительские кредиты
                  li
                     a(href="#") Рефинансирование / Перекредитование
               ul.footer__menu-col
                  li
                     a(href="#") Кредит на любую новостройку
                  li
                     a(href="#") Кредит на строительство
                  li
                     a(href="#") Кредит на недвижимость за рубежом
                  li
                     a(href="#") Перезалог недвижимости
                  li
                     a(href="#") Кредит на коммерческую недвижимость
                  li
                     a(href="#") Кредитная история
      .footer__bottom
         p Все права защищены © 2008—2022 #[br] «Финансовые решения и сервис».
         p Разработка сайта - #[a(href="#") www.blablabla.com]