@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-svg-city {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(68, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-city {
	background-position: 0 0;
}
@mixin svg-svg-city-hover {
	.svg-svg-city {
		@include svg-pos-svg-city-hover
	}
}

.svg-svg-city:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-city-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-email {
	@extend %svg-common;
	background-position: 61.904761904761905% 0;
	background-size: math.div(68, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-email {
	background-position: 61.904761904761905% 0;
}
@mixin svg-svg-email-hover {
	.svg-svg-email {
		@include svg-pos-svg-email-hover
	}
}

.svg-svg-email:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-email-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-next {
	@extend %svg-common;
	background-position: 50% 72.22222222222223%;
	background-size: math.div(68, 16)*100% auto;
	width: 16px;

}
@mixin svg-pos-svg-next {
	background-position: 50% 72.22222222222223%;
}
@mixin svg-svg-next-hover {
	.svg-svg-next {
		@include svg-pos-svg-next-hover
	}
}

.svg-svg-next:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(16, 16)*100%;
}

.svg-svg-next-dims {
	width: 16px;
	height: 16px;
}

.svg-svg-prev {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(68, 16)*100% auto;
	width: 16px;

}
@mixin svg-pos-svg-prev {
	background-position: 100% 0;
}
@mixin svg-svg-prev-hover {
	.svg-svg-prev {
		@include svg-pos-svg-prev-hover
	}
}

.svg-svg-prev:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(16, 16)*100%;
}

.svg-svg-prev-dims {
	width: 16px;
	height: 16px;
}

.svg-svg-tel {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(68, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-tel {
	background-position: 0 100%;
}
@mixin svg-svg-tel-hover {
	.svg-svg-tel {
		@include svg-pos-svg-tel-hover
	}
}

.svg-svg-tel:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-tel-dims {
	width: 26px;
	height: 26px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }